[submodule "themes/kiera"]
	path = themes/kiera
	url = https://github.com/avianto/hugo-kiera.git
[submodule "public"]
	path = public
	url = https://github.com/yyssjj33/yyssjj33.github.io.git
	branch = master
